<p-card [style]="{ width: '300px' }" class="animal-card">
  <ng-template pTemplate="header">
    <div class="card-header">
      <h2>{{ animal.name }}</h2>
      <p-tag
        *ngIf="!animal.hasCurrentSponsorship && animal.sponsorshipAvailable"
        severity="info"
        value="Patenschaft verfügbar">
      </p-tag>
    </div>
  </ng-template>

  <p>{{ animal.teaser }}</p>
  <p>{{ animal.description }}</p>

  <ng-template pTemplate="footer">
    <div
      class="sponsorship-info"
      *ngIf="animal.sponsorshipAvailable || animal.hasCurrentSponsorship">
      <div *ngIf="animal.hasCurrentSponsorship" class="current-sponsor">
        <p *ngIf="animal.sponsorName" class="sponsor-message">
          Die Patenschaft für das Jahr 2025 ist an {{ animal.sponsorName }}
          vergeben.
        </p>
        <p *ngIf="animal.sponsorCustomText" class="sponsor-message">
          {{ animal.sponsorCustomText }}
        </p>
      </div>
      <p-button
        *ngIf="!animal.hasCurrentSponsorship && animal.sponsorshipAvailable"
        label="Pate werden"
        styleClass="p-button-outlined p-button-primary">
      </p-button>
    </div>
  </ng-template>
</p-card>
