:host {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

:host ::ng-deep router-outlet + * {
  flex: 1;
}

.pre-header {
  width: 100%;
  height: calc(var(--header-height) / 2 + var(--spacer-5));
  background: #fff;
  position: fixed;
  z-index: 1;

  @media (max-width: 991px) {
    height: 0;
  }
}
