<p class="logo"><a routerLink="/">Alpakas vom Rosenhof</a></p>

<nav class="main-nav">
  <ul>
    <li><a routerLink="/about" routerLinkActive="active">Wanderungen & Events</a></li>
    <li><a routerLink="/animals" routerLinkActive="active">Unsere Alpakas</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Patenschaft</a></li>
  </ul>
</nav>

<nav class="secondary-nav">
  <ul>
    <li><a routerLink="/directions" routerLinkActive="active">Anfahrt</a></li>
    <li>
      <a href="https://www.instagram.com/alpakas_vom_rosenhof" class="socal-icon-link"
        ><fa-icon [icon]="icons.faInstagram"></fa-icon
      ></a>
    </li>
  </ul>
</nav>
