<p class="logo">Alpakas vom Rosenhof</p>

<nav class="main-nav">
  <ul>
    <!-- <li><a routerLink="/home">Home</a></li> -->
    <li><a routerLink="/about">Wanderungen & Events</a></li>
    <!-- <li><a routerLink="/">Gutscheine</a></li> -->
    <!-- <li><a routerLink="/">Fotoshooting</a></li> -->
    <li><a routerLink="/alpacas">Unsere Alpakas</a></li>
    <li><a routerLink="/contact">Patenschaft</a></li>
  </ul>
</nav>

<nav class="secondary-nav">
  <ul>
    <li><a routerLink="/login">Anfahrt</a></li>
    <!-- <li><a routerLink="/register">Kontakt</a></li> -->
    <li><a href="https://www.instagram.com/alpakas_vom_rosenhof">Instagram</a></li>
  </ul>
</nav>
